<div class="bottom">
    <div class="bottom-box">
        
        <div class="bottom-box-item">
            <img class="mask" src="img/mask.png" alt="">
        </div>

        <div class="bottom-box-item">
            <p class="bottom-box-text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit, cum? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, quia?Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, vitae?
            </p>
        </div>

        <div class="bottom-box-item">
            <div class="newsletter-box">
                <div class="bottom-newsletter-text">
                    <p>Get Our Free Newsletter</p>
                </div>
                <div class="newsletter-signup">
                    <input type="email" class="newsletter-input" placeholder="Enter your email address" class="newsletter-signup">
                    
                    <button class="newsletter-btn" type="submit">Subscribe</button>
                </div>
            </div>
        </div>

    </div>  

    <div class="footer-box">
        <footer>Copyright &amp; 2021 designed by NoName</footer>
    </div>
</div>