<nav class="nav" name="nav">
    <div class="container">
        <h1 class="logo"><a href="/index.ejs">Daily Journal</a></h1>
        <div class="date">
            <h3><%= listTitle %></h3>
        </div>
        <ul>
            <li><a class="navLink" href="/index">Home</a></li>
            <li><a href="/blogs">Blog</a></li>
            <li><a href="/todo">To Do</a></li>
            <li><a href="/notes">Notes</a></li>
            <li><a href="/about">About</a></li>
            <button class="signIn" id="signIn">Sign In</button>
        </ul>
    </div>
</nav>