<%- include('./partials/head.ejs') %>
<link rel="stylesheet" href="/about.css">
    <body>
        
        <%- include('./partials/nav.ejs') %>
    
        
        <div class="main-container">
            <div class="content">
                <h2>About Me</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est mollitia minus sunt reprehenderit, deleniti hic vel ex quidem quae at, tenetur minima ipsam quibusdam. Molestiae optio soluta quod eum perspiciatis totam fugiat, culpa quae quasi hic, voluptatem vero natus esse.</p>
            </div>
        </div>
        <%- include('./partials/footer.ejs') %>
<script></script>
</body>
</html>