<%- include('./partials/head.ejs') %>
<link rel="stylesheet" href="/blog.css">
    <body>
        
        <%- include('./partials/nav.ejs') %>
    
        
        <div class="main-container">
    
            <div class="add-blog">
                <form action="">
                    <label for="title">Blog title:</label>
                    <input type="text" id="title" required>
                    <label for="snippet">Blog snippet:</label>
                    <input type="text" id="snippet" required>
                    <label for="body">Blog body:</label>
                    <textarea name="content" id="body" cols="100" rows="20" placeholder="Here comes the text...."></textarea>
                    <div class="btn">
                        <button class="submit">Submit</button>
                    </div>
                </form>
            </div>

        </div>

        <%- include('./partials/footer.ejs') %>
<script src="script.js"></script>
</body>
</html>