<%- include('./partials/head.ejs') %>
<link rel="stylesheet" href="/todo.css">
    <body>
        
        <%- include('./partials/nav.ejs') %>
    
        
        <div class="main-container">
    
            <div class="todoBox">

                <h1 class="todoTitle">My ToDos</h1>

                



                <!-------------------------
                <form id="todoForm">
                    <input type="text" name="newItem" class="todoInput" id="todoInput" placeholder="Enter your todo item" autocomplete="off">
                    <% for (let i = 0; i < newListItems.length; i++) { %>
                    <ul class="todos" id="todos">
                        <li class="todoItem"><%= newListItems[i] %></li>
                    </ul>
                    <% } %>
                </form>
                -------------------------->
            </div>

        </div>

        <%- include('./partials/footer.ejs') %>
<script src="script.js"></script>
</body>
</html>