@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;1,300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #F0F0D8;
    --lightGrey-color: #D8D8C0;
    --darkGrey-color: #7A8370;
    --lightOrange-color: #DF8615;
    --darkOrange-color: #F84600;
    --dark-color: rgb(15, 15, 15);
    --error-color: rgb(221, 25, 25);
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #222;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding-top: 3rem;
}

/*************** ADD *******************/
.main-container {
    /*position: relative;*/
    background-color: var(--darkOrange-color);
}

.add {
    position: fixed;
    /*position: absolute;*/
    margin-top: 5rem;
    right: 3rem;
    background-color: var(--lightOrange-color);
    color: var(--dark-color);
    border: none;
    border-radius: 3px;
    box-shadow: 2px -3px 5px 1px var(--darkOrange-color);
    cursor: pointer;
    padding: 0.5rem 1rem;
}

.add:active {
    transform: scale(0.98);
}

.note {
    background-color: var(--lightGrey-color);
}

.note .tools {
    background-color: var(--darkOrange-color);
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
}

.note textarea {
    outline: none;
    font-family: inherit;
    font-size: 1.2rem;
    border: none;
    height: 400px;
    width: 100%;
    padding: 20px;
}

.main {
    padding: 20px;
}

.hidden {
    display: none;
}




/********** MAIN CONTAINER *************/
.main-container {
    background-color: var(--lightGrey-color);
    height: calc(100vh - 300px);
}



/*********** NAVIGATION *****************/
.nav {
    position: fixed;
    background-color: #222;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
}

.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    transition: all 0.3s ease-in-out;
}

.nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.nav a {
    color: #fff;
    text-decoration: none;
    padding: 7px 15px;
    transition: all 0.3s ease-in-out;
}

.signIn {
    background-color: transparent;
    color: rgb(233, 185, 83);
    font-size: 1.1rem;
    font-family: inherit;
    border: none;
    outline: none;
    padding: 7px 15px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.navLink.active,
.navLink:hover {
    color: #c0392b;
    font-weight: bold;
}

.date h3 {
    color: var(--main-color);
    font-weight: lighter;
}

/*********** FOOT *********************/
.bottom {
    color: var(--dark-color);
    height: 300px;
    opacity: 0.8;
    display: grid;
    grid-template-rows: 80% 20%;
    grid-template-columns: 1fr;
    
}

.bottom-box {
    background-color: var(--lightOrange-color);
    opacity: 0.9;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 4fr;
    
}

.bottom-box-item {
    width: 100%;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
}

.bottom-box-item p {
    align-items: center;
    justify-content: center;
}

.mask {
    width: 60%;
    height: auto;
    margin-left: 60px;
}

.bottom-box-text {
    padding-left: 60px;
}

.newsletter-box {
    width: 60%;
    display: grid;
    grid-template-rows: 1fr 4fr;
}

.newsletter-signup {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bottom-newsletter-text {
    padding-bottom: 10px;
    font-size: 1.1rem;
}

.newsletter-input {
    height: 40px;
    width: 100%;
    padding-left: 10px;
    background-color: var(--main-color);
    font-size: 1.1rem;
    color: var(--dark-color);
    font-family: inherit;
    font-weight: bolder;
    font-style: italic;
    outline: none;
    border-radius: 5px;
}

.newsletter-btn {
    background-color: var(--main-color);
    box-shadow: 2px -3px 5px 1px var(--dark-color);
    border: none;
    outline: none;
    color: var(--dark-color);
    font-size: 1.1rem;
    font-weight: bold;
    font-family: inherit;
    border-radius: 5px;
    width: 100%;
    margin-top: 30px;
    height: 40px;
}

.footer-box {
    background-color: var(--darkGrey-color);
    color: rgb(223, 219, 219);
    display: flex;
    justify-content: center;
    align-items: center;
}
